welcome-section {
    z-index: 100;
    min-height: 200px;
    height: 100vh;
    background: linear-gradient(15deg, var(--light-green), var(--teal));
    color: var(--almost-white);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
}

.title {
    margin: 0 auto;
    max-width: 20em;
    text-align: center;
}
