navbar {
    z-index: 102;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    align-items: center;
    grid-template-columns: 4rem auto auto;
    grid-template-rows: 2rem;
    grid-template-areas: "logo . nav";
    background: linear-gradient(15deg, transparent, transparent);
    transition: all 0.2s ease;
}

.bg-on {
    transition: all 0.2s ease;
    background: linear-gradient(15deg, var(--light-green), var(--teal));
}

#nav-links {
    grid-area: nav;
    justify-self: end;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li a {
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        background: var(--almost-white);
        border: 1px solid transparent;
        color: var(--teal);
        padding: 0.25em 0.5em;
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 1px;
        border: 1px solid currentColor;
        background: rgba(21,103,128, 0.2);
        color: var(--almost-white);
        transition: all 0.1s ease;
        &:hover,
        &:focus {
            background: var(--almost-white);
            border: 1px solid transparent;
            color: var(--teal);
        }
    }
}

#logo-link {
    height: 100%;
}

#logo-area {
    display: inline-block;
    align-self: center;
    height: 100%;
}

#logo-art {
    height: 100%;
    width: auto;
}

@media screen and (max-width: 400px) {
    #navbar {
        justify-items: center;
        grid-template-columns: auto;
        grid-template-areas:
            "logo"
            "nav";
        height: 7rem;
    }
    #logo-area {
        width: 4rem;
    }
    #nav-links {
        justify-self: center;
    }
}
